##  Exercises: Day 13

## QUESTION 1

In [3]:
# Filter only negative and zero in the list using list comprehension
# Example list of numbers
# Example list of numbers
numbers = [1, -2, 3, 0, -4, 5, -6, 0, 7]

# Filter negative and zero values using list comprehension
filtered_numbers = [num for num in numbers if num <= 0]

print("Negative and Zero Values:", filtered_numbers)

Negative and Zero Values: [-2, 0, -4, -6, 0]

# QUESTION 2

In [6]:
#Flatten the following list of lists to a one dimensional list :
list_of_lists = [[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

flattened_list = [num for sublist1 in list_of_lists for sublist2 in sublist1 for num in sublist2]

print("Flattened List:", flattened_list)

Flattened List: [1, 2, 3, 4, 5, 6, 7, 8, 9]

#QUESTION 3

In [7]:
# Using list comprehension create the following list of tuples:
result_list = [(i, 1, i, i**2, i**3, i**4, i**5) for i in range(11)]
print(result_list)

[(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049), (10, 1, 10, 100, 1000, 10000, 100000)]

## QUESTTION 4

In [8]:
#Flatten the following list to a new list:  countries =
# [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]] OUTPUT:
#[['FINLAND','FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

# Flatten and transform the list
flattened_countries = [[country.upper(), country[:3].upper(), capital.upper()] for sublist in countries for country, capital in sublist]

print("Output:", flattened_countries)

Output: [['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

## QUESTION 5

In [10]:
#Change the following list to a list of dictionaries:

#countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
#output:
#[{'country': 'FINLAND', 'city': 'HELSINKI'},
#{'country': 'SWEDEN', 'city': 'STOCKHOLM'},
#{'country': 'NORWAY', 'city': 'OSLO'}]

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

# Transform the list to a list of dictionaries
list_of_dicts = [{'country': country.upper(), 'city': city.upper()} for sublist in countries for country, city in sublist]

print("Output:", list_of_dicts)

Output: [{'country': 'FINLAND', 'city': 'HELSINKI'}, {'country': 'SWEDEN', 'city': 'STOCKHOLM'}, {'country': 'NORWAY', 'city': 'OSLO'}]

## QUESTION 6

In [11]:
# Change the following list of lists to a list of concatenated strings:
#names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
#output
#['Asabeneh Yetaeyeh', 'David Smith', 'Donald Trump', 'Bill Gates']

names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]

# Concatenate the strings and create a new list
concatenated_names = [' '.join(name) for sublist in names for name in sublist]

print("Output:", concatenated_names)

Output: ['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']

## QUESTION7

In [12]:
linear_function = lambda x, m, b: m * x + b

# Example usage
slope = 2
y_intercept = 3

# Solve for y when x is 5
result = linear_function(5, slope, y_intercept)
print("Result:", result)

Result: 13