## Question 1

In [2]:
#to declare an empty list
lst = []

## question 2

# to declare a list with more than 5 items
Fruits = ['mango', 'apple', 'orange', 'guava', 'pineapple']

## Question 3

In [3]:
# to find the length of the list
Fruits = ['mango', 'apple', 'orange', 'guava', 'pineapple']
print(len(Fruits))

5

# question 4

In [4]:
## to Get the first item, the middle item and the last item of the list
fruits = ['mango', 'apple', 'orange', 'guava', 'pineapple']
fruit_1 = fruits[0]
print(fruit_1)

fruit_2 = fruits[1]
print(fruit_2)

fruit_3 = fruits[2]
print(fruit_3)

mango
apple
orange

## question 5

In [5]:
mixed_data_types = ['Lilian', 20, 3.7, 'single', 'Lagos']

## Question 6, 7 and 8

In [6]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)

# Print the number of companies in the list
print(len(it_companies))

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7

## question 9

In [7]:
# to Print the first, middle and last company
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
first_company = it_companies
print(it_companies[0])
print(it_companies[3])
print(it_companies[7])

Facebook
Apple

IndexError: list index out of range

## question 10

In [ ]:
# Print the list after modifying one of the companies
it_companies[0] = 'Glo'
print(it_companies)

## question 11

In [ ]:
# to Add an IT company to it_companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies.append('TECH'))

## Question 12

In [ ]:
# to add IT company in the middle of the companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.insert(4, 'TECH')
print(it_companies)

## question 13

In [ ]:
# change one of the it_companies names to uppercase (IBM excluded!)
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
upper_case = it_companies[0].upper()
it_companies[0] = upper_case
print(it_companies)

## question 14

In [ ]:
# Join the it_companies with a string '#;  '
it_companies_joined = '#; '.join(it_companies)
print(it_companies_joined)

## question 15

In [8]:
# To check if a certain company exists in the it_companies list.
checking_existence = 'Apple' in it_companies
print(checking_existence)

True

## question 16

In [10]:
# TO Sort the list using sort() method
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

## question 17

In [11]:
# to reverse the list using reverse method
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.reverse()
print(it_companies)

['Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'Facebook']

## question 18

In [12]:
# Slice out the first 3 companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies[:3])

['Facebook', 'Google', 'Microsoft']

## question 19

In [13]:
# Slice out the last 3 companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies[4:7])

['IBM', 'Oracle', 'Amazon']

## question 20

In [15]:
# Slice out the middle IT company or companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies[3:4])

['Apple']

## question 21, 22 and 23

In [38]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del it_companies[0:1]  #Remove the first IT company from the list
print(it_companies)

del it_companies[2:3] #Remove the middle IT company or companies from the list
print(it_companies)

# Remove the last IT company from the list
it_companies.pop()

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

'Amazon'

## question 24 and 25

In [39]:
#Remove all IT companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del it_companies[0:7]  
print(it_companies)

[]

## question 26

In [41]:
# Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
print(front_end + back_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

## question 27

In [51]:
#insert Python and SQL after Redux
full_stack = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
full_stack.insert(4, "python")
print(full_stack)

full_stack.insert(5, "SQL")
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'python', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'python', 'SQL', 'Redux', 'Node', 'Express', 'MongoDB']

## Exercises: Level 2

In [52]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# Find the median age (one middle item or two middle items divided by two)
median_age = (ages[5] + ages[6]) / 2
print(median_age)

25.5

In [53]:
# Find the average age (sum of all items divided by their number )
average_age = sum(ages) / len(ages)
print(average_age)

22.8

In [ ]:
# Compare the value of (min - average) and (max - average), use abs() method
value_1 = abs(min_age - average_age)
value_2 = abs(max_age - average_age)
print(value_1 == value_2)

In [ ]:
# Find the range of the ages (max minus min)
range_ages = max_age - min_age
print(range_ages)

##question 1

In [56]:
#Find the middle country(ies)
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
middle_index_countries = len(countries) // 2
middle_country = countries[middle_index_countries] if len(countries) % 2 != 0 else [countries[middle_index_countries - 1], countries[middle_index_countries]]

print("Middle Country(ies):", middle_country)

Middle Country(ies): Finland

## question 2

In [57]:
# to divide the country into two equal list
if len(countries) % 2 == 0:
    first_half = countries[:middle_index_countries]
    second_half = countries[middle_index_countries:]
else:
    first_half = countries[:middle_index_countries + 1]
    second_half = countries[middle_index_countries + 1:]

print("First Half:", first_half)
print("Second Half:", second_half)

First Half: ['China', 'Russia', 'USA', 'Finland']
Second Half: ['Sweden', 'Norway', 'Denmark']

In [58]:
# Unpack the first three countries
first_three,  the_scandic_countries = countries[:3], countries[3:]
print("First Three Countries:", first_three)
print("Scandic Countries:", scandic_countries)

First Three Countries: ['China', 'Russia', 'USA']
Scandic Countries: [['Finland', 'Sweden', 'Norway', 'Denmark']]