## Exercises: Level 1

## question 1

In [8]:
## Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
len(it_companies)

7

## question 2

In [10]:
# Add 'Twitter' to it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add('Twitter')
print(it_companies)

{'Amazon', 'Facebook', 'Apple', 'IBM', 'Twitter', 'Oracle', 'Microsoft', 'Google'}

## question 3

In [14]:
# Insert multiple IT companies at once to the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.update(['MtN', 'GLO', 'TECH'])
print(it_companies)

{'Amazon', 'Facebook', 'IBM', 'GLO', 'Apple', 'Oracle', 'TECH', 'Microsoft', 'MtN', 'Google'}

## question 4 and 5

In [15]:
#Remove one of the companies from the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove('Oracle')
print(it_companies)

# What is the difference between remove and discard
# Remove means removing one or many items in a set but if the item does not exist in the set it raises error.
# while
# Discard means to get rid of the set entirely and does not raise any error.

{'Amazon', 'Facebook', 'Apple', 'IBM', 'Microsoft', 'Google'}

## Exercises: Level 2

## Question 1

In [18]:
# Join A and B
A= {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
c = A.union(B)
print(c)

{19, 20, 22, 24, 25, 26, 27, 28}

# question 2

In [19]:
# Find A intersection B

A= {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
c = A.intersection(B)
print(c)

{19, 20, 22, 24, 25, 26}

# question 3

In [20]:
# Is A subset of B
A= {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
c = A.issubset(B)
print(c)

True

# question 4

In [22]:
# Are A and B disjoint sets
A= {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
c = A.isdisjoint(B)
print(c)

False

# question 5

In [23]:
# Join A with B and B with A
A= {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C = A.union(B) # to join A with B
print(C)

D = B.union(A) #TO join B with A
print(D)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

# Question 6

In [24]:
# What is the symmetric difference between A and B
A= {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C = A.symmetric_difference(B)
print(C)

{27, 28}

# Question 7

In [25]:
# Delete the sets completely
del A, B

## Exercises: Level 3

# Question 1

In [34]:
# to convert the ages to a set and compare the length of the list and the set, which one is bigger?
age_1 = {22, 19, 24, 25, 26, 24, 25, 24} # converted the ages to a set
age_2 = [22, 19, 24, 25, 26, 24, 25, 24]
len(age_1) # the length of the sets and list
len(age_2)

8

In [35]:
# to compare the lengths
age_1 == age_2

False

## Question 2

In [ ]:
# Difference between the following data types: string, list, tuple and set
# String is a text with a quotation mark.
# list is a an mutable and ordered collection of an element
# Tuple means an immutable ordered collection of element
# Set is as group of arranged element.

## question 3

In [37]:
# to get the unique words using split methods in the sentence.
sentence = 'i am a teacher and I love to inspire and teach people'
print(sentence.split())

['i', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']